[Desktop Entry]
X-GNOME-Autostart-enabled=true
Name[pl]=Redshift
GenericName[hu]=Szín hőmérséklet beállítás
Name[es]=Redshift
Name[lt]=Redshift
Comment[hu]=Színhőmérséklet beállító eszköz
Type=Application
Comment[es]=Herramienta para el ajuste de la temperatura de color
GenericName[es]=Ajuste de la temperatura de color
GenericName[tr]=Renk sıcaklığı ayarı
Comment[zh_CN]=色温调节工具
Comment[fr]=Outil de réglage de la température de couleur
GenericName[zh_CN]=色温调节
Icon=redshift
Name[hu]=Redshift
GenericName[ru]=Настройка цветовой температуры
Name[fr]=Redshift
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
Name=Redshift
GenericName[it]=Regolazione della temperatura del colore
Name[de]=Redshift
Comment=Color temperature adjustment tool
Comment[de]=Farbtemperatur Anpassungswerkzeug
GenericName=Color temperature adjustment
Terminal=false
Comment[it]=Strumento per la regolazione della temperatura del colore
Comment[da]=Justeringsværktøj for farvetemperatur
Name[tr]=Redshift
Comment[tr]=Renk sıcaklığı ayarlama aracı
GenericName[pl]=Dostosowanie temperatury barwowej
Name[pt_BR]=Redshift
GenericName[fr]=Réglage de la température de couleur
Exec=redshift-gtk
Name[it]=Redshift
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
GenericName[da]=Justering af farvetemperatur
GenericName[de]=Farbtemperatur Anpassung
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
StartupNotify=true
Name[ru]=Redshift
Version=1.0
GenericName[lt]=Spalvos temperatūros reguliavimas
GenericName[cs]=Přizpůsobení barevné teploty
Comment[ru]=Инструмент регулирования цветовой температуры
GenericName[nl]=Kleurtemperatuur aanpassing
Categories=Utility;
Name[zh_CN]=红移
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
Hidden=false

