[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/honorabrutroll/Desktop/Rust Book.desktop]
row=5
col=0

[/home/honorabrutroll/Desktop/Old Firefox Data]
row=4
col=0

[/home/honorabrutroll/Desktop/SystemMonitor.desktop]
row=2
col=0

[/home/honorabrutroll/Desktop/Civilization V.desktop]
row=3
col=0

[Trash]
row=1
col=0

[/home/honorabrutroll]
row=0
col=0

